@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #06f9b7;
  --bg: #f8fafa;
  --grey: #767778;
  --formgrey: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* LARGE SCHERMEN - LG */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}

/* Enes Service - begin */

.services {
  background-color: var(--bg);
}
.services .container {
  padding: 80px;
  padding-left: 150px;
}

.services .lijn {
  position: absolute;
  width: 2px;
  height: 180px;
  background-color: var(--green);
}

.services .lijn.links {
  left: 650px;
  top: 565px;
}

.services .lijn.rechts {
  right: 650px;
  top: -80px;
}

.services .hoofdtitel {
  font-size: 60px;
}

.services .hoofdtitel span {
  color: var(--green);
}

.services h3 {
  font-size: 30px;
}

.service-icon {
  font-size: 35px;
  margin-top: 40px;
}

.service-icon.green {
  color: var(--green);
}

.portfolio-btn {
  position: relative;
  display: inline-flex;
  margin-top: 20px;
  padding: 12px 40px;
  font-weight: bold;
  background: transparent;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
}

.portfolio-btn .punt {
  position: absolute;
  left: 20px;
  top: 14px;
  width: 10px;
  height: 10px;
  background: var(--green);
  border-radius: 50px;
}

.portfolio-btn .lijn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 45px;
  height: 1.7px;
  background-color: var(--green);
}

/* Enes Service - einde */
