@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #06f9b7;
    --bg: #f8fafa;
    --grey: #767778;
    --formgrey: #eeeeee;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

/* LARGE SCHERMEN - LG */
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }

    .col-lg-1 {
        grid-column: span 1;
    }

    .col-lg-2 {
        grid-column: span 2;
    }

    .col-lg-3 {
        grid-column: span 3;
    }

    .col-lg-4 {
        grid-column: span 4;
    }

    .col-lg-5 {
        grid-column: span 5;
    }

    .col-lg-6 {
        grid-column: span 6;
    }

    .col-lg-7 {
        grid-column: span 7;
    }

    .col-lg-8 {
        grid-column: span 8;
    }

    .col-lg-9 {
        grid-column: span 9;
    }

    .col-lg-10 {
        grid-column: span 10;
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-12 {
        grid-column: span 12;
    }
}

.portfolio-btn {
    position: relative;
    display: inline-flex;
    margin-top: 20px;
    padding: 12px 40px;
    font-weight: bold;
    background: transparent;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
}

.portfolio-btn .punt {
    position: absolute;
    left: 20px;
    top: 14px;
    width: 10px;
    height: 10px;
    background: var(--green);
    border-radius: 50px;
}

.portfolio-btn .lijn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 45px;
    height: 1.7px;
    background-color: var(--green);
}

.hero {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(6, 249, 183, 0.6) 50%,
            #06f9b799 100%),
        url("../images/hero-img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    /* padding-left: 200px; */
    color: rgb(51, 51, 51);
}

.hero .titel-links {
    color: var(--bg);
    margin-right: 45px;
}

.hero .portfolio-btn {
    color: var(--bg);
    border: 2px solid var(--bg);
    background-color: rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    color: var(--bg);
}

.nav-rechts a {
    margin: 18px;
    color: black;
}

.nav-home {
    color: var(--bg);
}

.nav a {
    text-decoration: none;
    font-size: 13px;
}

.nav .burger {
    margin-left: 10px;
}

.nav .helali {
    color: var(--bg);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.bg-image {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(6, 249, 183, 0.6) 50%,
            #06f9b799 100%),
        url("../images/hero-img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}