@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #06f9b7;
    --bg: #f8fafa;
    --grey: #767778;
    --formgrey: #eeeeee;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

/* LARGE SCHERMEN - LG */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .col-lg-1 {
        grid-column: span 1;
    }

    .col-lg-2 {
        grid-column: span 2;
    }

    .col-lg-3 {
        grid-column: span 3;
    }

    .col-lg-4 {
        grid-column: span 4;
    }

    .col-lg-5 {
        grid-column: span 5;
    }

    .col-lg-6 {
        grid-column: span 6;
    }

    .col-lg-7 {
        grid-column: span 7;
    }

    .col-lg-8 {
        grid-column: span 8;
    }

    .col-lg-9 {
        grid-column: span 9;
    }

    .col-lg-10 {
        grid-column: span 10;
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-12 {
        grid-column: span 12;
    }
}


.header {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 55%,
            rgba(6, 249, 183, 0.6) 50%,
            rgba(6, 249, 183, 0.6) 100%),
        url("../images/hero-img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: auto;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    justify-content: space-between;
}