@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --green: #06f9b7;
  --bg: #f8fafa;
  --grey: #767778;
  --formgrey: #eeeeee;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* LARGE SCHERMEN - LG */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}


/* begin header en hero dilan */
.hero {
  position: relative;
  height: 700px;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(51, 51, 51);

}

.hero .titel-links {
  color: var(--bg);
  margin: 30px;
}

.hero .portfolio-btn {
  color: var(--bg);
  border: 2px solid var(--bg);
  background-color: rgba(0, 0, 0, 0.2);
}

.nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  color: var(--bg);
}

.nav-rechts a {
  margin: 20px;
  color: black;
}

.nav-home {
  color: var(--bg);
}

.nav a {
  text-decoration: none;
  font-size: 13px;
}

.nav .burger {
  margin-left: 10px;
}

.nav .helali {
  color: var(--bg);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.bg-image {
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(6, 249, 183, 0.6) 50%,
      #06f9b799 100%),
    url("../images/hero-img.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-ux {
  position: absolute;
  top: 85%;
  right: 40px;

  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 2px;

  color: var(--bg);

}

.hero-ux p {
  margin: 0;
}

.ux-punt {
  color: rgb(51, 51, 51);
}

.hero-lijn {
  position: absolute;
  left: 0;
  top: 85%;
  width: 2px;
  height: 180px;
  background-color: var(--green);
  margin: 20px 0;
}

/*einde header hero dilan */