@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --green: #06f9b7;
  --bg: #f8fafa;
  --grey: #767778;
  --formgrey: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* LARGE SCHERMEN - LG */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}

/* Natalie about - begin */
.about .green {
  color: var(--green);
}

/* overal zelfde */
.about h2 {
  font-size: 60px;
}

.about .info p {
  color: var(--grey);
}

.about h3 {
  font-size: 40px;
}

.about .logo {
  font-size: 80px;
}

.about {
  font-weight: 500;
  position: relative;
}

.about .be {
  font-weight: 700;
}

.about .logo {
  position: relative;
}

.about .logo::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 3%;
  width: 180px;
  height: 12px;
  background-color: var(--green);
  z-index: -1;
}

.about .blok {
  margin: 10px;
}

.about .zijtekst {
  font-size: 20px;
  rotate: -90deg;
  position: absolute;
  right: 0px;
  top: 20%;
}
/* Natalie about - einde */

/* Enes Service - begin */

.services {
  background-color: var(--bg);
}
.services .container {
  padding: 80px;
  padding-left: 150px;
}

.services .lijn {
  position: absolute;
  width: 2px;
  height: 180px;
  background-color: var(--green);
}

.services .lijn.links {
  left: 650px;
  top: 565px;
}

.services .lijn.rechts {
  right: 650px;
  top: -80px;
}

.services .hoofdtitel {
  font-size: 60px;
}

.services .hoofdtitel span {
  color: var(--green);
}

.services h3 {
  font-size: 30px;
}

.service-icon {
  font-size: 35px;
  margin-top: 40px;
}

.service-icon.green {
  color: var(--green);
}

.portfolio-btn {
  position: relative;
  display: inline-flex;
  margin-top: 20px;
  padding: 12px 40px;
  font-weight: bold;
  background: transparent;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
}

.portfolio-btn .punt {
  position: absolute;
  left: 20px;
  top: 14px;
  width: 10px;
  height: 10px;
  background: var(--green);
  border-radius: 50px;
}

.portfolio-btn .lijn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 45px;
  height: 1.7px;
  background-color: var(--green);
}

/* Enes Service - einde */

/* Natalie testimonial - begin */
.testimonial {
  position: relative;
}

.testimonial .banner .foto_links {
  background-image: url(../images/testimonial-desk.avif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-color: rgba(6, 249, 183, 0.6);
  background-blend-mode: overlay;
  transform: translateY(-100%);
  z-index: -1;
}

.testimonial .logo {
  font-size: 80px;
}

.testimonial .white {
  color: var(--bg);
}

.testimonial h2 {
  font-size: 40px;
}

.testimonial .blokje {
  background-color: var(--green);
}

.testimonial .portfolio-btn .punt,
.testimonial .portfolio-btn .lijn {
  background: var(--bg);
}

.testimonial .zijtekst {
  font-size: 20px;
  rotate: -90deg;
  position: absolute;
  right: 0px;
  top: 25%;
}

/* Natalie testimonial - einde */
